.letter 
{
  font-size: 1em;
}

.bounce_span 
{
  height:50px;
  width: 50px;
}


.bounce_span:hover
{
  animation: bounce 5s linear;
}

@keyframes bounce {
  0%{
    background-color: brown;
  }
  100%
  {
    background-color: aquamarine;
    width: 70px;
    height: 70px;
  }
}